# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs and databases
*.log
attempt_log.txt

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# Local data directories (temporary or user-specific data)
response/
haul/
root/
